<mat-card class="h-full">
  <section
    mat-card-header
    class="flex items-center space-x-4 rounded-t"
    [ngClass]="[type === 'EXM' ? 'bg-green-700' : 'bg-blue-700']"
  >
    <div mat-card-avatar class="">
      <img class="" src="assets/icons/ph_icon_{{ procedure.icon_index }}.png" />
    </div>
    <figcaption class="text-lg text-white text-ellipsis font-medium">
      {{ procedure.name }}
    </figcaption>
  </section>
  <mat-card-content>
    <section class="flex flex-col space-y-2">
      <div class="text-ellipsis text-justify text-gray-600">{{ procedure.description }}</div>
      <ng-container *ngIf="procedure.required_doctors">
        <ng-template
          [ngTemplateOutlet]="skillList"
          [ngTemplateOutletContext]="{
            skills: procedure.required_doctors,
            title: 'Doctor'
          }"
        ></ng-template>
      </ng-container>
      <ng-container *ngIf="procedure.required_lab_spec">
        <ng-template
          [ngTemplateOutlet]="skillList"
          [ngTemplateOutletContext]="{
            skills: [procedure.required_lab_spec],
            title: 'Lab Specialist'
          }"
        ></ng-template>
      </ng-container>
    </section>
  </mat-card-content>
</mat-card>

<ng-template #skillList let-skills="skills" let-title="title">
  <mat-list class="">
    <div mat-subheader>Required {{ title }} Skills</div>
    <div class="space-y-2">
      <ng-container *ngFor="let skill of skills">
        <section mat-line class="flex flex-row items-center">
          <img
            class="rounded-full"
            src="assets/icons/ph_icon_{{ skill.icon_index }}.png"
          />
          <figcaption class="flex flex-col pl-2">
            <div class="font-bold whitespace-normal">
              {{ skill.name }}
            </div>
            <div class="whitespace-normal">{{ skill.description }}</div>
          </figcaption>
        </section>
      </ng-container>
    </div>
  </mat-list>
</ng-template>
