<section class="flex flex-col space-y-4">
  <h1 class="font-bold text-center">Project Hospital Encyclopedia</h1>
  <p class="text-justify">
    Welcome to the fan made encyclopedia of Project Hospital game developed by
    the indie studio <b>Oxymoron Games</b>.
    <br />
    This is a work in progress so any new feature will be added depending on my
    free time.
    <br />
  </p>
  <p class="">
    The upcoming features will be as follows:
    <mat-list>
      <mat-list-item>
        <mat-icon matListItemIcon>lens</mat-icon>
        <div matListItemTitle>I18N (Translated descriptions).</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>lens</mat-icon>
        <div matListItemTitle>Modded Departments.</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>lens</mat-icon>
        <div matListItemTitle>Rework the UI of this encyclopedia.</div>
      </mat-list-item>
    </mat-list>
  </p>
</section>
