@if (treatment$ | async; as treatments) {
  <section class="mb-2 flex flex-col">
    <span class="font-medium text-2xl text-blue-900">Treatments</span>
    <div class="text-lg text-blue-900">
      Total treatments: {{ treatments.length }}
    </div>
  </section>
  <section class="grid grid-cols-1 md:grid-cols-2 gap-4">
    @for (trt of treatments; track trt) {
      <div class="col-span-1">
        <ph-encyclopedia-procedure-card
          [procedure]="trt"
          [type]="'TRT'"
        ></ph-encyclopedia-procedure-card>
      </div>
    }
  </section>
}

