<mat-card class="border border-blue-900 space-y-2 h-full">
  <section class="flex items-center space-x-4">
    <img
      class="rounded-full border border-blue-900 examination-filter"
      src="assets/icons/ph_icon_{{ symptom.icon_index }}.png"
    />
    <figcaption class="text-lg text-blue-900 text-ellipsis">
      {{ symptom.name }}
    </figcaption>
  </section>
  <section class="flex flex-col">
    <div class="text-blue-600 text-ellipsis">{{ symptom.description }}</div>
    <!-- <ng-container *ngIf="procedure.required_doctors">
      <ng-template
        [ngTemplateOutlet]="skillList"
        [ngTemplateOutletContext]="{
          skills: procedure.required_doctors,
          title: 'Doctor'
        }"
      ></ng-template>
    </ng-container>
    <ng-container *ngIf="procedure.required_lab_spec">
      <ng-template
        [ngTemplateOutlet]="skillList"
        [ngTemplateOutletContext]="{
          skills: [procedure.required_lab_spec],
          title: 'Lab Specialist'
        }"
      ></ng-template>
    </ng-container> -->
  </section>
</mat-card>
<!--
<ng-template #skillList let-skills="skills" let-title="title">
  <mat-list class="">
    <div mat-subheader>Required {{ title }} Skills</div>
    <div class="space-y-2">
      <ng-container *ngFor="let skill of skills">
        <section mat-line class="flex flex-row items-center">
          <img
            class="rounded-full"
            src="assets/icons/ph_icon_{{ skill.icon_index }}.png"
          />
          <figcaption class="flex flex-col pl-2">
            <div class="font-bold whitespace-normal">
              {{ skill.name }}
            </div>
            <div class="whitespace-normal">{{ skill.description }}</div>
          </figcaption>
        </section>
      </ng-container>
    </div>
  </mat-list>
</ng-template> -->
