<mat-card class="h-full">
  <mat-card-header class="rounded-t bg-red-700">
    <div class="flex flex-row space-x-1 pb-4 justify-between">
      <div class="w-10">
        <img
          class="object-contain"
          src="assets/icons/ph_icon_{{ symptom.icon_index }}.png"
          fallbackSrc
        />
      </div>
      <span class="flex flex-1 items-center text-md text-white font-medium">
        {{ symptom.name }}
      </span>
    </div>
  </mat-card-header>

  <mat-card-content>
    <section class="flex flex-col mt-2 space-y-2">
      <div class="text-base italic text-justify text-gray-600">
        {{ symptom.description }}
      </div>
      <mat-list class="text-sm text-gray-600">
        <div class="font-medium mb-1">Patient insights</div>
        <div mat-list-item class="flex flex-row">
          <span class="font-medium">Hazard -</span>
          <span class="pl-1 lowercase">{{ symptom.hazard }}</span>
        </div>
        <div mat-list-item class="flex flex-row">
          <span class="font-medium">Discomfort -</span>
          <span class="pl-1 lowercase">{{ symptom.discomfort }}</span>
        </div>
        <div mat-list-item class="flex flex-row">
          <span class="font-medium">Mobility - </span>
          <span class="pl-1 lowercase">{{ symptom.mobility }}</span>
        </div>
      </mat-list>
      <mat-card appearance="outlined">
        <mat-card-content class="flex flex-col space-y-1">
          <section class="dpt-text-green">
            <div class="flex flex-1 space-x-1 items-center">
              <div class="w-10">
                <img
                  class="object-contain examination-filter"
                  src="assets/icons/ph_icon_140.png"
                  fallbackSrc
                />
              </div>
              <span class="font-medium text-base">Examinations</span>
            </div>
            <section class="flex flex-col items-center ml-4 text-sm">
              @for (exm of symptom.examinations; track exm.id) {
              <div class="flex flex-col">
                <div class="flex flex-1 space-x-1 items-center">
                  <div class="w-10">
                    <img
                      class="object-contain examination-filter"
                      src="assets/icons/ph_icon_{{ exm.icon_index }}.png"
                      fallbackSrc
                    />
                  </div>
                  <span class="text-sm font-medium">{{ exm.name }}</span>
                </div>
                <span class="text-xs"> {{ exm.description }}</span>
              </div>
              }
            </section>
          </section>
          @if (symptom.treatment) {
          <mat-divider></mat-divider>
          <section class="dpt-text-blue">
            <div class="flex flex-1 space-x-1 items-center">
              <div class="w-10">
                <img
                  class="object-contain treatment-filter"
                  src="assets/icons/ph_icon_140.png"
                  fallbackSrc
                />
              </div>
              <span class="font-medium text-base">Treatments</span>
            </div>
            <section class="flex flex-row items-center ml-4 text-sm">
              <div class="flex flex-col">
                <div class="flex flex-1 space-x-1 items-center">
                  <div class="w-10">
                    <img
                      class="object-contain treatment-filter"
                      src="assets/icons/ph_icon_{{
                        symptom.treatment.icon_index
                      }}.png"
                      fallbackSrc
                    />
                  </div>
                  <span class="text-sm font-medium">{{
                    symptom.treatment.name
                  }}</span>
                </div>
                <span class="text-xs">
                  {{ symptom.treatment.description }}</span
                >
              </div>
            </section>
          </section>
          }
        </mat-card-content>
      </mat-card>
      @if (symptom.collapse_sym) {
      <section class="flex flex-col text-xs">
        <div class="font-medium flex items-center text-red-500">
          <mat-icon>warning</mat-icon>
          <span class="ml-2">This symptom can lead to a collapse.</span>
        </div>
        <mat-list class="text-red-500">
          <div class="font-medium mb-1 text-sm">
            Collapse symptom:
            <span class="font-bold">{{ symptom.collapse_sym.name }}.</span>
          </div>
          <div mat-list-item class="flex flex-row">
            <span class="font-medium">Start Hours -</span>
            <span class="pl-1 lowercase">{{
              symptom.collapse_sym.start_hours
            }}</span>
          </div>
          <div mat-list-item class="flex flex-row">
            <span class="font-medium">End Hours -</span>
            <span class="pl-1 lowercase">{{
              symptom.collapse_sym.end_hours
            }}</span>
          </div>
        </mat-list>
      </section>
      }
      <!-- <ng-container *ngIf="procedure.required_doctors">
        <ng-template
          [ngTemplateOutlet]="skillList"
          [ngTemplateOutletContext]="{
            skills: procedure.required_doctors,
            title: 'Doctor'
          }"
        ></ng-template>
      </ng-container>
      <ng-container *ngIf="procedure.required_lab_spec">
        <ng-template
          [ngTemplateOutlet]="skillList"
          [ngTemplateOutletContext]="{
            skills: [procedure.required_lab_spec],
            title: 'Lab Specialist'
          }"
        ></ng-template>
      </ng-container> -->
    </section>
  </mat-card-content>
</mat-card>

<!--
<ng-template #skillList let-skills="skills" let-title="title">
  <mat-list class="">
    <div mat-subheader>Required {{ title }} Skills</div>
    <div class="space-y-2">
      <ng-container *ngFor="let skill of skills">
        <section mat-line class="flex flex-row items-center">
          <img
            class="rounded-full"
            src="assets/icons/ph_icon_{{ skill.icon_index }}.png"
          />
          <figcaption class="flex flex-col pl-2">
            <div class="font-bold whitespace-normal">
              {{ skill.name }}
            </div>
            <div class="whitespace-normal">{{ skill.description }}</div>
          </figcaption>
        </section>
      </ng-container>
    </div>
  </mat-list>
</ng-template> -->
