<mat-card class="h-full">
  <mat-card-header class="rounded-t bg-red-700">
    <div class="flex flex-row space-x-1 pb-4 justify-between">
      <div class="w-10">
        @if (diagnose.type === 'BASE') {
        <img
          class="object-contain"
          src="assets/icons/ph_icon_{{ diagnose.icon_index }}.png"
          fallbackSrc
        />
        } @else {
        <img
          class="object-contain"
          src="assets/icons/{{ diagnose.big_icon_path }}"
          fallbackSrc
        />
        }
      </div>
      <span class="flex flex-1 items-center text-base text-white font-medium">
        {{ diagnose.name }}
      </span>
    </div>
  </mat-card-header>
  <mat-card-content>
    <section class="flex flex-col mt-2 space-y-2">
      <div
        class="text-sm text-left font-medium"
        [ngClass]="occurenceColour[diagnose.occurrence]"
      >
        Occurence: {{ occurenceI18N[diagnose.occurrence] }} | Insurance: ${{
          diagnose.insurance
        }}
      </div>
      <div class="text-sm text-ellipsis text-justify text-gray-600">
        {{ diagnose.description }}
      </div>
      @if (diagnose.symptoms) {
      <mat-list class="space-y-2">
        @for (symptom of diagnose.symptoms; track symptom.id) {
        <mat-card appearance="outlined">
          <mat-card-content class="flex flex-col space-y-1">
            <div class="text-red-900 font-bold text-base">Symptom</div>
            <section class="flex flex-1 space-x-1">
              <div class="w-10">
                <img
                  class="object-contain symptom-filter"
                  src="assets/icons/ph_icon_{{ symptom.icon_index }}.png"
                  fallbackSrc
                />
              </div>
              <div class="flex flex-col text-red-700">
                <span class="text-sm font-medium">
                  {{ symptom.name }}
                </span>
                <span class="text-xs">
                  Probability: {{ symptom.probability }}% - Hazard:
                  {{ symptom.hazard }}
                </span>
              </div>
            </section>

            <section class="flex flex-col text-green-700">
              <mat-divider></mat-divider>
              <span class="font-medium text-base pt-2">Examinations</span>
              <div class="text-sm">
                @if (symptom.examinations.length) {
                <ul class="-space-y-2">
                  @for (exm of symptom.examinations; track exm.id) {
                  <li class="flex flex-row items-center">
                    <img
                      class="rounded-full h-8 w-8 examination-filter"
                      src="assets/icons/ph_icon_{{ exm.icon_index }}.png"
                      fallbackSrc
                    />
                    <span>
                      {{ exm.name }}
                    </span>
                  </li>
                  }
                </ul>

                } @else {<span>Cannot be examined.</span> }
              </div>
            </section>

            <section class="flex flex-col text-blue-700">
              <mat-divider></mat-divider>
              <span class="font-medium text-base pt-2">Treatments</span>
              <div class="text-sm">
                @if (symptom.treatment) {
                <div class="flex flex-row items-center">
                  <img
                    class="rounded-full h-8 w-8 treatment-filter"
                    src="assets/icons/ph_icon_{{
                      symptom.treatment.icon_index
                    }}.png"
                    fallbackSrc
                  />
                  <span>
                    {{ symptom.treatment.name }}
                  </span>
                </div>
                } @else { <span>Cannot be treated.</span> }
              </div>
            </section>
          </mat-card-content>
        </mat-card>
        }
      </mat-list>
      }
    </section>
  </mat-card-content>
</mat-card>
