/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

/***** Scrollbar ****/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/***** Color filters ****/

.symptom-filter {
  filter: brightness(0) saturate(100%) invert(14%) sepia(48%) saturate(5081%) hue-rotate(350deg) brightness(116%)
    contrast(92%);
}

.examination-filter {
  filter: brightness(0) saturate(100%) invert(69%) sepia(28%) saturate(406%) hue-rotate(69deg) brightness(99%)
    contrast(90%);
}

.treatment-filter {
  filter: brightness(0) saturate(100%) invert(17%) sepia(56%) saturate(2413%) hue-rotate(213deg) brightness(97%)
    contrast(96%);
}

.black-filter {
  filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(30%) hue-rotate(73deg) brightness(106%)
    contrast(107%);
}

ph-encyclopedia-root {
  .mat-list-base .mat-list-item,
  .mat-list-base .mat-list-option {
    height: auto;
  }

  .mat-card-avatar {
    height: auto;
    width: auto;
  }

  .mat-card {
    padding: 0;
  }

  .mat-card-content {
    padding: 16px;
  }
}

$dpt-red: rgb(212, 95, 93);
$dpt-orange: rgb(230, 147, 115);
$dpt-yellow: rgb(251, 201, 123);
$dpt-pink: rgb(245, 138, 148);
$dpt-brown: rgb(216, 188, 166);
$dpt-green: rgb(141, 194, 138);
$dpt-pale: rgb(154, 209, 189);
$dpt-blue: rgb(139, 172, 214);
$dpt-violet: rgb(168, 174, 216);
$dpt-grey: rgb(110, 110, 110);

.dpt-text {
  &-red {
    color: $dpt-red;
  }

  &-orange {
    color: $dpt-orange;
  }

  &-yellow {
    color: $dpt-yellow;
  }
  &-pink {
    color: $dpt-pink;
  }
  &-brown {
    color: $dpt-brown;
  }
  &-green {
    color: $dpt-green;
  }
  &-pale {
    color: $dpt-pale;
  }
  &-blue {
    color: $dpt-blue;
  }
  &-violet {
    color: $dpt-violet;
  }
  &-grey {
    color: $dpt-grey;
  }
}
