/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@use './sidenav-theme' as sidenav;

$theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
    ));

@include mat.elevation-classes();
@include mat.app-background();

:root {
  @include mat.all-component-themes($theme);
  @include sidenav.sidenav-component-theme($theme);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/***** Scrollbar ****/

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: mat.get-theme-color($theme, 'primary', 90);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: mat.get-theme-color($theme, 'primary', 20);

  &:hover {
    background: mat.get-theme-color($theme, 'primary', 30);
  }
}

/***** Color filters ****/

.symptom-filter {
  filter: brightness(0) saturate(100%) invert(14%) sepia(48%) saturate(5081%) hue-rotate(350deg) brightness(116%) contrast(92%);
}

.examination-filter {
  filter: brightness(0) saturate(100%) invert(69%) sepia(28%) saturate(406%) hue-rotate(69deg) brightness(99%) contrast(90%);
}

.treatment-filter {
  filter: brightness(0) saturate(100%) invert(17%) sepia(56%) saturate(2413%) hue-rotate(213deg) brightness(97%) contrast(96%);
}

.black-filter {
  filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(30%) hue-rotate(73deg) brightness(106%) contrast(107%);
}

$dpt-red: rgb(212, 95, 93);
$dpt-orange: rgb(230, 147, 115);
$dpt-yellow: rgb(251, 201, 123);
$dpt-pink: rgb(245, 138, 148);
$dpt-brown: rgb(216, 188, 166);
$dpt-green: rgb(141, 194, 138);
$dpt-pale: rgb(154, 209, 189);
$dpt-blue: rgb(139, 172, 214);
$dpt-violet: rgb(168, 174, 216);
$dpt-grey: rgb(110, 110, 110);

.dpt-text {
  &-red {
    color: $dpt-red;
  }

  &-orange {
    color: $dpt-orange;
  }

  &-yellow {
    color: $dpt-yellow;
  }

  &-pink {
    color: $dpt-pink;
  }

  &-brown {
    color: $dpt-brown;
  }

  &-green {
    color: $dpt-green;
  }

  &-pale {
    color: $dpt-pale;
  }

  &-blue {
    color: $dpt-blue;
  }

  &-violet {
    color: $dpt-violet;
  }

  &-grey {
    color: $dpt-grey;
  }
}
