@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
/* Omit the following line to disable Preflight */
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

