/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.examination-filter {
  filter: brightness(0) saturate(100%) invert(17%) sepia(56%) saturate(2413%) hue-rotate(213deg) brightness(97%)
    contrast(96%);
}

ph-encyclopedia-root {
  .mat-list-base .mat-list-item,
  .mat-list-base .mat-list-option {
    height: auto;
  }
}

$dpt-red: rgb(212, 95, 93);
$dpt-orange: rgb(230, 147, 115);
$dpt-yellow: rgb(251, 201, 123);
$dpt-pink: rgb(245, 138, 148);
$dpt-brown: rgb(216, 188, 166);
$dpt-green: rgb(141, 194, 138);
$dpt-pale: rgb(154, 209, 189);
$dpt-blue: rgb(139, 172, 214);
$dpt-violet: rgb(168, 174, 216);
$dpt-grey: rgb(110, 110, 110);

.dpt-text {
  &-red {
    color: $dpt-red;
  }

  &-orange {
    color: $dpt-orange;
  }

  &-yellow {
    color: $dpt-yellow;
  }
  &-pink {
    color: $dpt-pink;
  }
  &-brown {
    color: $dpt-brown;
  }
  &-green {
    color: $dpt-green;
  }
  &-pale {
    color: $dpt-pale;
  }
  &-blue {
    color: $dpt-blue;
  }
  &-violet {
    color: $dpt-violet;
  }
  &-grey {
    color: $dpt-grey;
  }
}
