<mat-toolbar color="primary" class="main-toolbar">
  <a routerLink="./" class="flex flex-row items-center w-48 md:w-auto">
    <img class="h-12 object-contain" src="assets/logo/ph_encyclopedia.png" />
    <!-- <figcaption class="flex flex-col leading-tight ml-4">
      <title>Project Hospital</title>
      <title>Encyclopedia</title>
    </figcaption> -->
  </a>
  <span class="flex-1"></span>
  <div class="hidden lg:block">
    <ng-container [ngTemplateOutlet]="navItems"></ng-container>
  </div>
  <div class="block lg:hidden">
    <button mat-button [mat-menu-trigger-for]="mainMenu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div class="overflow-y-auto pb-5 page-content">
  <div class="container mx-auto p-4 text-blue-900">
    <section class="flex flex-col space-y-4">
      <h1 class="font-bold text-center">Project Hospital Encyclopedia</h1>
      <p class="text-justify">
        Welcome to the fan made encyclopedia of Project Hospital game developed
        by the indie studio <b>Oxymoron Games</b>.
        <br />
        This is a work in progress so any new feature will be added depending on
        my free time.
        <br />
      </p>
      <p class="">
        The upcoming features will be as follows:
        <mat-list>
          <mat-list-item>
            <mat-icon matListItemIcon>lens</mat-icon>
            <div matListItemTitle>I18N (Translated descriptions).</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>lens</mat-icon>
            <div matListItemTitle>Modded Departments.</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>lens</mat-icon>
            <div matListItemTitle>Rework the UI of this encyclopedia.</div>
          </mat-list-item>
        </mat-list>
      </p>
    </section>
    <router-outlet></router-outlet>
  </div>
</div>

<mat-menu x-position="before" #mainMenu="matMenu">
  <ng-container [ngTemplateOutlet]="navMenuList"></ng-container>
</mat-menu>

<ng-template #navItems>
  <button
    mat-button
    matTooltip="Departments"
    [matMenuTriggerFor]="departmentsMenu"
  >
    <div class="flex items-center h-6">
      <img
        class="object-contain w-8 mx-auto"
        src="assets/icons/ph_icon_42.png"
      />
      <span class="">Departments</span>
    </div>
  </button>
  <button
    mat-button
    matTooltip="Modded Dpts."
    disabled
    [matMenuTriggerFor]="moddedDepartmentsMenu"
  >
    <div class="flex items-center h-6">
      <img
        class="object-contain w-8 mx-auto"
        src="assets/icons/ph_icon_97.png"
      />
      <span class="">Modded Dpts.</span>
    </div>
  </button>
  <button
    mat-button
    matTooltip="Procedures"
    [matMenuTriggerFor]="proceduresMenu"
  >
    <div class="flex items-center h-6">
      <img
        class="object-contain w-8 mx-auto"
        src="assets/icons/ph_icon_2286.png"
      />
      <span class="">Procedures</span>
    </div>
  </button>
  <button mat-button matTooltip="Symptoms" routerLink="/symptoms">
    <div class="flex items-center h-6">
      <img
        class="object-contain w-8 mx-auto"
        src="assets/icons/ph_icon_106.png"
      />
      <span class="">Symptoms</span>
    </div>
  </button>
  <button mat-button matTooltip="Misc" disabled>
    <div class="flex items-center h-6">
      <img
        class="object-contain w-8 mx-auto"
        src="assets/icons/ph_icon_519.png"
      />
      <span class="">Misc</span>
    </div>
  </button>
  <button mat-button matTooltip="FAQ" disabled>
    <div class="flex items-center h-6">
      <img
        class="object-contain w-8 mx-auto"
        src="assets/icons/ph_icon_319.png"
      />
      <span class="">FAQ</span>
    </div>
  </button>
</ng-template>

<ng-template #navMenuList>
  <mat-nav-list>
    <a
      mat-list-item
      matTooltip="Departments"
      [matMenuTriggerFor]="departmentsMenu"
    >
      <div class="flex items-center h-6 space-x-4">
        <img
          class="lg:hidden w-8 object-contain black-filter"
          src="assets/icons/ph_icon_42.png"
        />
        <span class="">Departments</span>
      </div>
    </a>
    <a mat-list-item matTooltip="Modded Dpts." disabled>
      <div class="flex items-center h-6 space-x-4">
        <img
          class="lg:hidden w-8 object-contain black-filter"
          src="assets/icons/ph_icon_97.png"
        />
        <span class="">Modded Dpts.</span>
      </div>
    </a>
    <a
      mat-list-item
      matTooltip="Procedures"
      [matMenuTriggerFor]="proceduresMenu"
    >
      <div class="flex items-center h-6 space-x-4">
        <img
          class="lg:hidden w-8 object-contain black-filter"
          src="assets/icons/ph_icon_2286.png"
        />
        <span class="">Procedures</span>
      </div>
    </a>
    <a mat-list-item matTooltip="Symptoms" routerLink="/symptoms">
      <div class="flex items-center h-6 space-x-4">
        <img
          class="lg:hidden w-8 object-contain black-filter"
          src="assets/icons/ph_icon_106.png"
        />
        <span class="">Symptoms</span>
      </div>
    </a>
    <a mat-list-item matTooltip="Misc" disabled>
      <div class="flex items-center h-6 space-x-4">
        <img
          class="lg:hidden w-8 object-contain black-filter"
          src="assets/icons/ph_icon_519.png"
        />
        <span class="">Misc</span>
      </div>
    </a>
    <a mat-list-item matTooltip="FAQ" disabled>
      <div class="flex items-center h-6 space-x-4">
        <img
          class="lg:hidden w-8 object-contain black-filter"
          src="assets/icons/ph_icon_319.png"
        />
        <span class="">FAQ</span>
      </div>
    </a>
  </mat-nav-list>
</ng-template>

<mat-menu #proceduresMenu="matMenu">
  <a mat-menu-item routerLink="/examinations">
    <div class="flex flex-row items-center">
      <img
        class="h-8 w-8 examination-filter object-contain"
        src="assets/icons/ph_icon_140.png"
      />
      <span class="dpt-text-green">Examinations</span>
    </div>
  </a>
  <a mat-menu-item routerLink="/treatments">
    <div class="flex flex-row items-center">
      <img
        class="h-8 w-8 treatment-filter object-contain"
        src="assets/icons/ph_icon_367.png"
      />
      <span class="dpt-text-blue">Treatments</span>
    </div>
  </a>
</mat-menu>

<mat-menu #departmentsMenu="matMenu">
  <a mat-menu-item routerLink="/dpt/emergency">
    <div class="flex flex-row items-center">
      <img class="h-8 object-contain" src="assets/icons/ph_icon_389.png" />
      <span class="ml-2 dpt-text-orange font-medium">Emergency</span>
    </div>
  </a>
  <a mat-menu-item routerLink="/dpt/general_surgery">
    <div class="flex flex-row items-center">
      <img class="h-8 object-contain" src="assets/icons/ph_icon_403.png" />
      <span class="ml-2 dpt-text-blue font-medium">General Surgery</span>
    </div>
  </a>
  <a mat-menu-item routerLink="/dpt/internal_medicine">
    <div class="flex flex-row items-center">
      <img class="h-8 object-contain" src="assets/icons/ph_icon_410.png" />
      <span class="ml-2 dpt-text-green font-medium">Internal Medicine</span>
    </div>
  </a>
  <a mat-menu-item routerLink="/dpt/orthopedics">
    <div class="flex flex-row items-center">
      <img class="h-8 object-contain" src="assets/icons/ph_icon_417.png" />
      <span class="ml-2 dpt-text-pale font-medium">Orthopedics</span>
    </div>
  </a>
  <a mat-menu-item routerLink="/dpt/cardiology">
    <div class="flex flex-row items-center">
      <img class="h-8 object-contain" src="assets/icons/ph_icon_424.png" />
      <span class="ml-2 dpt-text-yellow font-medium">Cardiology</span>
    </div>
  </a>
  <a mat-menu-item routerLink="/dpt/neurology">
    <div class="flex flex-row items-center">
      <img class="h-8 object-contain" src="assets/icons/ph_icon_431.png" />
      <span class="ml-2 dpt-text-violet font-medium">Neurology</span>
    </div>
  </a>
  <a mat-menu-item routerLink="/dpt/traumatology">
    <div class="flex flex-row items-center">
      <img class="h-8 object-contain" src="assets/icons/ph_icon_473.png" />
      <span class="ml-2 dpt-text-pink font-medium">Traumatology</span>
    </div>
  </a>
  <a mat-menu-item routerLink="/dpt/infectious_diseases">
    <div class="flex flex-row items-center">
      <img class="h-8 object-contain" src="assets/icons/ph_icon_466.png" />
      <span class="ml-2 dpt-text-brown font-medium">Infectious Diseases</span>
    </div>
  </a>
</mat-menu>

<mat-menu #moddedDepartmentsMenu="matMenu">
  <a mat-menu-item routerLink="/dpt/emergency">
    <div class="flex flex-row items-center">
      <img class="h-8 object-contain" src="assets/icons/ph_icon_389.png" />
      <span class="ml-2 dpt-text-orange font-medium">TBD</span>
    </div>
  </a>
</mat-menu>
